body,
html {
  background-color: #212121; /* almost black */
}

/* titulo principal ---------------> */

.main-header {
  position: relative;
  width: auto;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  color: #cf9c65;
}

.nav-list {
  color: red;
}

.nav-list a {
  text-decoration: none;
  color: aqua;
}

/* banner imagen principal ---------------> */

#banner-prin {
  width: 100%;
}

.descripcion-foto{
  font-style: italic;
  font-size: 0.7em;
  text-align: center;
}

/* cuerpo principal ---------------> */

/* h1:first-letter {
  font-weight: bold;
  font-size: 1.4em;
} */

.titulo-principal {
  text-align: center;
  color: #cf9c65;
  font-family: Georgia, "Times New Roman", Times, serif;
  clear: left;
}

/* main > p {
  background-color: lightseagreen;
} */

/* img + p {
  background-color: red;
} */

/* img ~ p {
  background-color: purple;
} */

/* .principal p:not(#mision) {
  background-color: lime;
} */

p {
  font-family: "Roboto Slab", serif;
  text-align: left;
  color: lightgrey;
  font-weight: 300;
}

#ubicado:first-line {
  font-style: italic;
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: lightgrey;
  font-weight: 300;
}

.principal {
  width: auto;
  padding: 20px 50px 20px 50px;
  margin-bottom: 30px;
}

.utensilios {
  width: 150px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  margin: 20px;
  
}

.mapa p {
  margin: 30px;
  font-style: italic;
  text-align: center;
}

/* seccion secundaria ---------------> */

.titulo-secundario {
  text-align: center;
  color: #cf9c65;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 40px;
}

#mision {
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  font-weight: 300;
}

.diferenciales {
  align-items: center;
  justify-content: center;
  background-color: #212121;
  padding: 30px;
}

.contenido-dif {
  width: 60%;
  margin: 0 auto;
}

.lista-dif {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.imagen-dif {
  width: 100%;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item:before {
  content: "✯ ";
}

.item {
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  text-align: left;
  list-style: none;
  color: #dabfa2;
}

/* .item:first-child {
  font-weight: bold;
  color: white;
} */

.video {
  width: auto;
  margin: 50px;
}

/* definiciones -----------------> */

strong,
em {
  color: #cf9c65;
}

.logo-footer {
  height: 90px;
  margin: 0 30px 0 0;
}

hr {
  margin: 100px 50px 0 50px;
}

.copyright {
  color: lightgrey;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* background: url(imagenes/bg.jpg); */
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .main-header, .principal, .mapa, .contenido-dif, .video {
    width: auto;
  }
}